<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   
   


    

    <center>

      <div class="alert alert-primary" role="alert">
        <h2>Automatic Attendance System</h2>
      </div>

      
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h2>Bring Face Close to camera</h2>
        <br>
        <br>
        <img src = "{{url_for('video')}}">
      </div>
    </div>
      
      <div class="col order-5">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <form action="/confirmUserName" method="POST">
        
          <div class="form">
            <label><h4>Username</h4></label>
            <input type="text" class="form-control"  name="username" placeholder="Enter the username here">
            <br>
          </div>
          <button type="submit" class="btn btn-primary">Confirm Username</button>   
        </form>  
      </div>   
    
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <h4>Click the below button to capture Images</h4>
          <form action = "/captureUser" method = "post">  
              <button type="submit" class="btn btn-outline-success">Capture Image</button>
          </form>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <h4>Click below to add User to DataBase</h4>
          <form action = "/addUserEntry" method = "post">  
              <button type="submit" class="btn btn-outline-success">Add to DataBase</button>
          </form>
        </div>

        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <form action = "/">  
              <button class="btn btn-outline-danger">Homepage</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>

</center>
    
    


















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>